
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  font-family: 'Raleway', sans-serif;
  background-color: rgba(207, 231, 240, 0.796);
  display: flex;
  justify-content: center;
  height:100vh;
  max-width: 80%;
  margin: auto;
}
html{
  font-size: 15px;
}

.search-container {
  text-align: center;
}
.search-container input{
  border-radius: 10px;
  outline: none;
  width:20rem;
  padding:.5rem 1rem;
  margin:1rem auto;
  font-weight: bold;
  font-size:1.3rem;
  text-transform: capitalize;
  text-align: center;
}

.loading{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
}
.movies{
  width:12rem;
  margin: 3rem .5rem;
  height:15rem;
  text-align: center;
}
.movies img:hover{
  background-color: rgba(85, 96, 100, 0.678);
  transform: scale(1.05);

}

.movies img{
  width:12rem;
  height:15rem;
  border:2px solid #000;
  padding:1.5rem;
  border-radius: 10px;
}

.movie-container h3{
  padding:.5rem;
  font-weight:bold;
}

.movies button{
  width: 12rem;
  height:2.4rem;
  border-radius: 10px;
  background-color:rgb(191, 224, 213) ;
  font-weight: bold;
  font-size: 1.3rem;
  color:rgb(182, 34, 34);
}
.movies button:hover{
  color:#fff;
  background-color: rgb(70, 86, 93);
  transform: scale(1.05);

}
.error{
  width:15rem;
  margin: auto;
}
.error p{
  background-color: rgba(205, 92, 92, 0.773);
  text-align: center;
  border-radius: 10px;
  padding:.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  color:rgb(238, 235, 235);
}
.s{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;

}
.single-movie{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height:18rem;
  border-radius: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.single-movie img{
  width:15rem;
  height:18rem;
  border:1px solid #fff;
  border-top-left-radius : 10px;
  border-bottom-left-radius : 10px;
}
.description{
  padding:.5rem;
  width:22rem;
}
.description p{
  padding:.2rem;
  color:rgb(99, 99, 99);
}
.description h2{
  font-size: 2rem;
  padding:.2rem;
  color:#000
}
.description button{
  border:none;
  width:8rem;
  height:2rem;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 10px;
  border:1px solid #000;
  background-color:rgb(246, 246, 246) ;
}

.description button:hover{
  background-color: rgba(20, 51, 90, 0.74);
  color:#fff;
}
@media screen and  (max-width:600px) {
  html{
    font-size: 10px;
  }
}